body{
    background: -webkit-gradient(linear, left top, left bottom, from(rgb(9, 12, 214)), to(rgb(126, 140, 202))) fixed;
}

h1{
    text-transform: uppercase;
    font-weight: 800;
    color:#fff;
}

hr{
    background-color: #fff;
    width: 20%;
}

h3{
    color: #fff;
}

#form{
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
}

.blue{
    color: #0069d6;
}

em{
    font-weight: bold;
}

.form-control{
    height: 50px;
    font-size: 18px;
}

.comments{
    font-style: italic;
    font-size: 16px;
    color: #d82c2e;
    height: 28px;
}

.button1{
    border: 1px solid #ddd;
    font-weight: 800;
    text-transform: uppercase;
    height: 3em;
    transition: all 0.3s ease_in 0s;
}

.button1:hover{
    background: #058b26a9;
    border-color: #ffa500;
}

.ok{
    text-align: center;
    margin-top: 15px;
    font-weight: 900;
    font-size: 20px;
}